*{
  margin:0px;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color:#ccc;
}
#review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:600px;
  height:400px;
  background-color: #fff;
  padding:20px;
}
#head{
  font-size: 40px;
  text-decoration: underline;
  text-decoration-color: rgb(42, 114, 202);
  margin:20px;
}
#role{
  color: rgb(42, 114, 202);
  line-height: 30px;;
}
#img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(42, 114, 202); 
}
.le{
  color: rgb(42, 114, 202);
  border-style: none;
  background-color: #fff;
  font-size: 40px;

}
#btn{
  color: rgb(42, 114, 202);
  border-color:rgb(42, 114, 202) ;
  background-color: rgb(226, 226, 239);
  padding:10px;
  border-radius: 20%;
}